# National Health and Nutrition Examination Survey (NHANES)
[https://wwwn.cdc.gov/nchs/nhanes/](https://wwwn.cdc.gov/nchs/nhanes/)

Este laboratório usará dados extraídos do NHANES.

## NHANES datasets from 2013-2014

Foram extraídos dados do [NHANES 2013-2014](https://wwwn.cdc.gov/nchs/nhanes/continuousnhanes/default.aspx?BeginYear=2013).

Os dados estão disponíveis em arquivos CSV no diretório `/data/nhanes`. Lá está disponível a documentação do esquema dos arquivos.

# Tarefa 1 - Esquema Relacional

Analise os arquivos CSV que estão no diretório `/data/nhanes` e escreva um esquema relacional referente às tabelas, suas chaves primárias e estrangeiras (não é SQL ainda). Coloque a chave primária com dois underlines antes e dois depois:

**Resposta**

demographic-person ( __id__, gender, age),

medications-drug (__code__, name),

medication-use ( __person_id, drug_code__, days_use)
 - CHE: person_id para demographic-person
 - CHE: drug_code para medication-use

## Criação das Tabelas em SQL e Importação de Dados

Considere o seguinte exemplo em que é criada uma tabela em SQL e importado dados do arquivo CSV `demographic-person.csv`.

In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
DROP TABLE IF EXISTS Pessoa;
DROP TABLE IF EXISTS Medicamento;
DROP TABLE IF EXISTS UsoMedicamento;

In [3]:
CREATE TABLE Pessoa (
  Id VARCHAR(5) NOT NULL,
  Gender INTEGER,
  Age INTEGER,
  PRIMARY KEY(Id)
) AS SELECT
    id,
    gender,
    age
FROM CSVREAD('../data/demographic-person.csv');

In [4]:
SELECT * FROM Pessoa;

# Tarefa 2 - Criação das Tabelas em SQL e Importação de Dados

Escreva instruções SQL para montar as duas tabelas restante, conforme definido no esquema relacional da **Tarefa 1**.

**Importante:** não defina chave primária para a tabela de uso de medicamento.

Durante a criação das tabelas, realize a importação dos dados do arquivo CSV nas tabelas criadas, conforme exemplo anterior.

In [5]:
CREATE TABLE Medicamento (
  Code VARCHAR(6) NOT NULL,
  Name VARCHAR(100) NOT NULL,
  PRIMARY KEY(Code)
) AS SELECT
    code,
    name
FROM CSVREAD('../data/medications-drug.csv');

In [6]:
SELECT * FROM Medicamento;

In [7]:
CREATE TABLE UsoMedicamento (
  Person_Id VARCHAR(5) NOT NULL,
  Drug_Code VARCHAR(6) NOT NULL,
  Days_Use INTEGER,
  FOREIGN KEY(Person_Id)
    REFERENCES Pessoa(Id)
        ON DELETE NO ACTION
        ON UPDATE NO ACTION,
  FOREIGN KEY(Drug_Code)
    REFERENCES Medicamento(Code)
        ON DELETE NO ACTION
        ON UPDATE NO ACTION,
) AS SELECT
    person_id,
    drug_code,
    days_use
FROM CSVREAD('../data/medications-use.csv');

In [8]:
SELECT * FROM UsoMedicamento;

# Tarefa 3 - Consultas Simples

Execute as consultas a seguir.

a) Liste pessoas com idade acima de 60

In [9]:
SELECT * FROM Pessoa WHERE Age > 60;

b) Liste as idades das pessoas cadastradas (sem repetições)

In [10]:
SELECT DISTINCT Pessoa.Age
    FROM Pessoa;

c) Liste código das pessoas, idade, código dos medicamentos que usaram e dias de uso

In [11]:
SELECT Pessoa.Id, Pessoa.Age, UsoMedicamento.Drug_Code, UsoMedicamento.Days_Use
    FROM Pessoa, UsoMedicamento
    WHERE Pessoa.Id = UsoMedicamento.Person_Id

d) Liste código das Pessoas, idade, nome dos medicamentos que usaram e quantos dias de uso

In [12]:
SELECT P.Id, P.Age, Med.Name, Uso.Days_Use
    FROM Pessoa P, Medicamento Med, UsoMedicamento Uso
    WHERE Med.Code = Uso.Drug_Code AND P.Id = Uso.Person_Id;

e) Liste nome dos medicamentos que foram usados por pessoas (sem repetições)

In [13]:
SELECT DISTINCT Medicamento.Name
    FROM Medicamento, UsoMedicamento
    WHERE Medicamento.Code = UsoMedicamento.Drug_Code
    ORDER BY Medicamento.Name;

f) Liste nome dos medicamentos usados por mais de 2.000 dias (sem repetições)

In [14]:
SELECT DISTINCT Medicamento.Name
    FROM Medicamento, UsoMedicamento
    WHERE Medicamento.Code = UsoMedicamento.Drug_Code AND UsoMedicamento.Days_Use > 2000
    ORDER BY Medicamento.Name;